.footer {
  background: #f3f4f6;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
}

.footerLinks {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
}