:root {
  --primary: #3b82f6;
  --secondary: #f97316;
  --bg-light: #ffffff;
  --text: #1f2937;
  --text-muted: #64748b;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
